
html {
	padding: 12px;
	width: 360px;
	overflow: auto;
	background: #F8F5F2;
	border: 0.5px solid #BABABA;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
#--reOpen-ext-list {
	padding: 0;
	list-style: none;
	height: -webkit-fill-available;
}

#--reOpen-ext-list li {
	width: 328px;
	height: 64px;
	background: #FFFFFF;
	margin-bottom: 8px;
	border-radius: 5px;
}

#--reOpen-ext-list li:hover {
	background: #FDFDFD;
}

.ext-list-item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
}

.ext-list-item-details {
	display: flex;
	align-items: center;
}


.ext-list-item-details img.ext-rest-logo {
	width: 32px;
	border-radius: 50%;
	margin-right: 12px;
}
.ext-list-item img.ext-close-icon {
	width: 12px;
	cursor: pointer;
}

#--reOpen-ext-popup-wrapper .ext-popup-header {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.ext-popup-header h3 { 
	font-size: 20px;
}

.ext-popup-header img {
	width: 60px;
}

.ext-popup-header span {
	font-size: 14px;
}
