
html {
	padding: 12px;
	width: 360px;
	height: 268px;
	overflow: auto;
	background: #F8F5F2;
	border: 0.5px solid #BABABA;
	box-sizing: border-box;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
#--reOpen-ext-list {
	padding: 0;
	list-style: none;
	height: -webkit-fill-available;
}

#--reOpen-ext-list li {
	width: 328px;
	height: 64px;
	background: #FFFFFF;
	border-radius: 5px;
}

#--reOpen-ext-list li:hover {
	background: 1px solid #FDFDFD;
}

.ext-list-item {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 8px;
}

.ext-list-item-details {
	display: flex;
	align-items: center;
}


.ext-list-item img.ext-rest-logo {
	width: 32px;
	border-radius: 50%;
	margin-right: 4px;
}
.ext-list-item img.ext-close-icon {
	width: 12px;
	cursor: pointer;
}